<div class="home-container">
  <header>
    <button class="icon-btn" routerLink="/settings">
      <lucide-icon [name]="settingsIcon" size="28"></lucide-icon>
    </button>
  </header>

  <main>
    <button class="central-button" routerLink="/main">
      <div class="outer-circle">
        <div class="inner-circle">
          <lucide-icon [name]="burgerIcon" size="64"></lucide-icon>
        </div>
      </div>
    </button>
  </main>

  <footer class="simulated-nav">
    <div class="nav-item"></div>
    <div class="nav-item circle"></div>
    <div class="nav-item triangle"></div>
  </footer>
</div>